<div class="courses-area section-padding40 fix">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8">
                <div class="section-tittle text-center mb-55">
                    <h2>Actia Academy Dashboard</h2>
                </div>
            </div>
        </div>
        
        <!-- Table Section Start -->
        <div class="row">
            <div class="col-12">
                <table>
                    <thead>
                        <tr>
                            <th>Identifiant</th>
                            <th>Demander Name</th>
                            <th>Thematique</th>
                            <th>Reservation Date </th>
                            <th>Reserved Room</th>
                            <th>STATUS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1001</td>
                            <td>Mark Otto</td>
                            <td>Japan</td>
                            <td>$3000</td>
                            <td>$1200</td>
                            <td><span class="status progress">Progress</span></td>
                        </tr>
                        <tr>
                            <td>1001</td>
                            <td>Mark Otto</td>
                            <td>Japan</td>
                            <td>$3000</td>
                            <td>$1200</td>
                            <td><span class="status open">Open</span></td>
                        </tr>
                        <tr>
                            <td>1001</td>
                            <td>Mark Otto</td>
                            <td>Japan</td>
                            <td>$3000</td>
                            <td>$1200</td>
                            <td><span class="status on-hold">On hold</span></td>
                        </tr>
                        <tr>
                            <td>1001</td>
                            <td>Mark Otto</td>
                            <td>Japan</td>
                            <td>$3000</td>
                            <td>$1200</td>
                            <td><span class="status progress">Progress</span></td>
                        </tr>
                        <tr>
                            <td>1001</td>
                            <td>Mark Otto</td>
                            <td>Japan</td>
                            <td>$3000</td>
                            <td>$1200</td>
                            <td><span class="status on-hold">On hold</span></td>
                        </tr>
                        <tr>
                            <td>1001</td>
                            <td>Mark Otto</td>
                            <td>Japan</td>
                            <td>$3000</td>
                            <td>$1200</td>
                            <td><span class="status open">Open</span></td>
                        </tr>
                        <tr>
                            <td>1001</td>
                            <td>Mark Otto</td>
                            <td>Japan</td>
                            <td>$3000</td>
                            <td>$1200</td>
                            <td><span class="status open">Open</span></td>
                        </tr>
                        <tr>
                            <td>1001</td>
                            <td>Mark Otto</td>
                            <td>Japan</td>
                            <td>$3000</td>
                            <td>$1200</td>
                            <td><span class="status progress">Progress</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Table Section End -->

    </div>
</div>
<!-- Courses area End -->
<!--? About Area-1 Start -->
