<!-- admin-notifications.component.html -->
<div class="notifications-container">
  <h3>Notification de demande  </h3>
  <ul class="notifications-list">
    <li *ngFor="let notification of notifications" class="notification-item">
      <div class="notification-title">
        {{ notification.title }}
      </div>
      <div class="notification-details">
        <p><strong>Team:</strong> {{ notification.team }}</p>
        <p><strong>Date Debut:</strong> {{ notification.startDate | date }}</p>
        <p><strong>Date fin:</strong> {{ notification.endDate | date }}</p>
        <p><strong>Formateur:</strong> {{ notification.formateurName }}</p>
        <p><strong>Mode:</strong> 
          <span *ngIf="notification.online">En ligne</span>
          <span *ngIf="notification.presentiel">Presentiel</span>
        </p>
      </div>
    </li>
  </ul>
</div>
