<div class="container">
  <h2>Your Forms</h2>

  <div *ngIf="forms.length === 0">
    <p>No forms available.</p>
  </div>

  <div class="card-grid">
    <div *ngFor="let form of forms" class="card">
      <!-- 'X' button for deleting the form -->
      <button class="btn-delete" (click)="deleteForm(form.id)">×</button>

      <!-- Card content with routerLink for navigation -->
      <a [routerLink]="['/form', form.id]" class="card-link">
        <div class="card-image">
          <img src="assets/Designer (15).jpeg" alt="Form Image">
        </div>
        <div class="card-content">
          <span class="card-title">{{ form.title }}</span>
        </div>
      </a>
    </div>
  </div>
</div>
