<div class="container">
  <h2>Your Forms</h2>

  <div *ngIf="forms.length === 0">
    <p>No forms available.</p>
  </div>

  <div class="card-grid">
    <div *ngFor="let form of forms" class="card">
      <!-- X icon for deleting the form -->
      <div class="delete-icon-container">
        <span class="delete-icon" (click)="onDeleteForm(form.id)">&#x2716;</span>
      </div>
      <a [routerLink]="['/form', form.id]" class="card-link">
        <div class="card-image">
          <img src="assets/Designer (15).jpeg" alt="Form Image">
        </div>
      </a>
      <div class="card-content">
        <span class="card-title">{{ form.title }}</span>
      </div>
    </div>
  </div>
</div>
