<div class="container">
  <h2>Your Forms</h2>

  <div *ngIf="forms.length === 0">
    <p>No forms available.</p>
  </div>

  <div class="card-grid">
    <div *ngFor="let form of forms" class="card">
      <div class="card-image">
        <img src="assets/Designer (14).jpeg" alt="Form Image">
      </div>
      <div class="card-content">
        <span class="card-title">{{ form.title }}</span>
      </div>
      <div class="card-action">
        <button class="btn" [routerLink]="['/form', form.id]">View Details</button>
        <button class="btn red darken-3">Delete</button>
      </div>
    </div>
  </div>
</div>
