<div class="form-container">
  <h1 class="dialog-title">Ajouter une nouvelle categorie </h1>
  <form [formGroup]="addCourseForm" (ngSubmit)="onAddCourse()">
    
    <div class="form-group">
      <label for="nomSujet">Nom</label>
      <input type="text" id="nomSujet" class="form-input" formControlName="nomSujet" [(ngModel)]="nomSujet" placeholder="Enter category name" />
    </div>
    
    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description" class="form-input" formControlName="description" [(ngModel)]="description" placeholder="Enter description"></textarea>
    </div>
    
    <div class="form-footer">
      <button type="button" class="btn-secondary" (click)="onCancel()">Annuler</button>
      <button type="submit" class="btn-primary">Ajouter</button>
    </div>
  </form>
</div>
