<div class="body">
  
  <h1 class="sujet-title">Liste de Categorie</h1>


  <div class="swiper-container">
    <button mat-raised-button  class="add-course-button"  (click)="openAddCourseModal()">Ajouter une Categorie +</button>

    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let Sujet of SujetArray">
        <mat-card class="sujet-card" [ngStyle]="{
          'background-size': 'cover',
          'background-repeat': 'no-repeat',
          'background-position': 'center'
        }">
          
          <a class="nom-sujet" [routerLink]="['/homeManager/formation']">{{Sujet.nomSujet}}</a> 
          
          <!-- Static Description -->
          <p class="sujet-description">{{Sujet.description}}</p>
        </mat-card>
      </div>
    </div>

    <!-- Add Navigation -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>

</div>