<!-- combined.component.html -->
<div class="header-and-sidebar">
    <!-- Navbar Section -->
    <div class="navbar" style="background-color: #252525;">
      <img src="assets/images.png" alt="Logo" class="logo">
      <div class="search-container"style="margin-right: 105px;">
        <input type="text" placeholder="Search..." class="search-bar">
        <button class="search-btn">
          <img src="assets/search-icon.png" alt="Search">
        </button>
      </div>
    </div>
  
    <!-- Sidebar Section -->
 <!-- aside.component.html -->
<div class="sidebar-container">
    <button class="menu-btn" (click)="toggleSidebar()">
      <img src="assets/menu.png" style="color:white;margin-right: 33px;

      margin-top: -7%;" alt="Menu Icon">
    </button>
  
    <div class="right-side closed" #sidebar>
      <div class="profile-card">
        <div class="profile-header">
          <img src="assets/img/profil.jpg" alt="Profile Image">
          <h3>{{ user?.username || 'Nom d\'utilisateur' }}</h3>
          <button class="close-btn" (click)="toggleSidebar()">×</button>
        </div>
        <ul class="list-unstyled components">
          <li><a href="#">Home</a></li>
          <li><a href="#">Notifications</a></li>
          <li><a [routerLink]="['/homeAdmin/listFormateur']">Formateurs</a></li>
          <li><a href="#">Chat</a></li>
        </ul>
        <div class="profile-actions">
          <a href="#">Mon compte</a>
          <a (click)="onLogout()">Déconnexion</a>
        </div>
      </div>
    </div>
  </div>
  </div>
  