<!-- list-formateur.component.html -->


<div class="container">
  <div class="header" style="  background-color: #1e2d3b;">
    <h3>Liste des Formateurs</h3>
    <div class="actions">
     
     
      
      <button class="add-btn" (click)="openAddFormateurDialog()">Ajouter un Formateur</button>
      

    </div>
  </div>



  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Identifiant</th>
        <th>Email</th>
        <th>Addresse</th>
        <th>Telephone</th>
   
        <th>Actions</th>
       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let formateur of formateurs">
        <td><input type="checkbox"></td>
        <td>{{ formateur.name }}</td>
        <td>{{ formateur.email }}</td>
        <td>{{ formateur.adresse }}</td>
        <td>{{ formateur.telephone }}</td>
    
        <td class="actions">
          <button class="delete-btn" (click)="deleteFormateur(formateur)">Delete</button>
          <button class="add-btn" (click)="editFormateur(formateur)">Edit</button>
         
        

        </td>
      </tr>
      <!-- Add more rows dynamically based on data -->
    </tbody>
  </table>


</div>
