
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 150vh;
        }

        form {
            background: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
            width: 700px;
            margin-bottom: 50px;
        }

        form div {
            margin-bottom: 15px;
        }

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        input[type="text"],
        input[type="date"],
        input[type="number"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            font-size: 16px;
        }

        input[type="submit"] {
            background-color: #c054ff;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }

        input[type="submit"]:hover {
            background-color: #c054ff;
        }

        h1{
            text-align: center;
            padding-bottom: 80px;
            padding-top: 30px;
            font-size: 40px;

            
        }


       
        

        
    </style>


    
<body>
    

    <div>
        <h1 class="Title">Demander une Formation </h1>
                    
        <form  class="formulaire" >
            <div>
                <label for="nomFormation">Nom Formation</label>
                <input type="text" [(ngModel)]="nomFormation" [ngModelOptions]="{standalone: true}" id="nomFormation" name="nomFormation">
            </div>

            <div>
                <label for="nomFormateur">Nom Formateur</label>
                <input type="text" [(ngModel)]="nomFormateur" [ngModelOptions]="{standalone: true}" name="nomFormateur" id="nomFormateur">
            </div>

            <div>
                <label for="categorie">Categorie</label>
                <input type="text" [(ngModel)]="categorie" [ngModelOptions]="{standalone: true}" id="categorie" name="categorie">
            </div>

            <div>
                <label for="dateDebut">Date Debut</label>
                <input type="date" [(ngModel)]="dateDebut" [ngModelOptions]="{standalone: true}" id="dateDebut" name="dateDebut">
            </div>

            <div>
                <label for="dateFin">Date fin</label>
                <input type="date" [(ngModel)]="dateFin" [ngModelOptions]="{standalone: true}" id="dateFin" name="dateFin">
            </div>

            <div>
                <label for="nombreParticipant">Nombre Participant</label>
                <input type="number" [(ngModel)]="nombreParticipant" [ngModelOptions]="{standalone: true}" id="nombreParticipant" name="nombreParticipant">
            </div>
            
            <div>
                <input type="submit" (click)="register()" Value="Soumettre">
            </div>
        </form>
    </div>

</body>
    
  

 
 
    <div  >
 
        <h1>Formation Table</h1>
 
 
 
 
    <table class="table">
        <thead>
        
        <tr>
            <th scope="col">Nom Formation</th>
            <th scope="col">Nom Formateur</th>
            <th scope="col">Categorie</th>
            <th scope="col">Date Debut</th>
            <th scope="col">Date Fin</th>
            <th scope="col">Nombre Participant</th>
            <th scope="col">Option</th>
          </tr>
        </thead>
       
        <tr *ngFor="let Formation of FormationArray">
 
            <td>{{Formation.nomFormation}}</td>
            <td>{{Formation.nomFormateur }}</td>
            <td>{{Formation.categorie }}</td>
            <td>{{Formation.dateDebut }}</td>
            <td>{{Formation.dateFin }}</td>
            <td>{{Formation.nombreParticipant }}</td>
 
            <td>
              <button type="button" class="btn btn-danger"   >Delete</button>
            
            </td>
        </tr>
          
        
      </table>
 
 
    </div>

     
