<div>
  <!-- Category Statistics -->
  <div class="row">
    <div class="col s12">
      <table class="striped centered">
        <thead>
        <tr>
          <th>Category</th>
          <th>Total Sum (%)</th>
          <th>Average (%)</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let category of categoryStatistics | keyvalue">
          <td>{{ category.key }}</td>
          <td>{{ category.value.sum.toFixed(2) }}%</td>
          <td>{{ category.value.average.toFixed(2) }}%</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Button to add a question -->
  <div class="row">
    <div class="col s12 center-align">
      <button class="btn waves-effect waves-light" (click)="navigateToAddQuestion()">
        Ajouter une nouvelle question
      </button>
    </div>
  </div>

  <!-- Polls and Charts -->
  <div class="row">
    <div *ngFor="let poll of polls; let i = index" class="col s12 poll-container">
      <h5 class="poll-title">{{ poll.title }}</h5>

      <!-- Chart -->
      <apx-chart
        #chart
        [series]="chartOptions[i]?.series || []"
        [chart]="chartOptions[i]?.chart || { type: 'bar', height: 350 }"
        [plotOptions]="chartOptions[i]?.plotOptions || {}"
        [xaxis]="chartOptions[i]?.xaxis || {}"
        [stroke]="chartOptions[i]?.stroke || {}"
        [dataLabels]="chartOptions[i]?.dataLabels || {}"
        [yaxis]="chartOptions[i]?.yaxis || {}"
        [tooltip]="chartOptions[i]?.tooltip || {}"
        [colors]="chartOptions[i]?.colors || []"
      >
      </apx-chart>

      <!-- Table -->
      <table class="striped centered">
        <thead>
        <tr>
          <th>Option</th>
          <th>Votes (%)</th>
          <th>Number of Votes</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let option of poll.options; let j = index">
          <td>{{ option.option }}</td>
          <td>{{ percentages[i][j].toFixed(2) }}%</td>
          <td>{{ option.score }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
